<!DOCTYPE html>
<head>
<title>Yalla Notlop login form</title>
<!-- metatags-->
<%= stylesheet_link_tag "application", :media => "all" %>
<%= stylesheet_link_tag "login.css" %>
<%= stylesheet_link_tag "signup.css" %>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--online fonts-->
<link href="//fonts.googleapis.com/css?family=Lobster&amp;subset=cyrillic,latin-ext,vietnamese" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Righteous&amp;subset=latin-ext" rel="stylesheet">
<!--//online fonts-->
</head>
<body>
	 <%= yield %>
</body>